<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark's</title>
    <link rel="stylesheet" href="C:\Users\Willian\Documents\WEB\SiteMaicon\CSS\estilos.css">
</head>

<body>

    <div class="imagem1">

    </div>

    <div class="conteudo">
        <h3>Cortes daora</h3>
        <p>Fala programador(a), beleza? Bora aprender coisa nova! Para resolver este problema, primeiro precisamos ter um container que preencha a tela toda Podemos utilizar a unidade de media vh, view height, que com o valor de 100 consegue fazer isso E
            da mesma maneira uma media de vw, view width, com o valor de 100 para a largura Depois e não menos importante, é preciso ter uma imagem grande o bastante para comportar as diversas resoluções existentes Pode parecer bobo este detalhe, mas
            muitas pessoas se esquecem disso e é este o problema da imagem distorcer E por último vamos inserir esta imagem com background via CSS, e adicionar uma propriedade chamada background-size com o valor de cover Que fará com que a imagem preencha
            todo o container disponível, resolvendo nosso problema, vamos a um exemplo prático:</p>
    </div>

    <div class="imagem2">

    </div>

    <div class="conteudo">
        <h3>Cortes daora</h3>
        <p>Fala programador(a), beleza? Bora aprender coisa nova! Para resolver este problema, primeiro precisamos ter um container que preencha a tela toda Podemos utilizar a unidade de media vh, view height, que com o valor de 100 consegue fazer isso E
            da mesma maneira uma media de vw, view width, com o valor de 100 para a largura Depois e não menos importante, é preciso ter uma imagem grande o bastante para comportar as diversas resoluções existentes Pode parecer bobo este detalhe, mas
            muitas pessoas se esquecem disso e é este o problema da imagem distorcer E por último vamos inserir esta imagem com background via CSS, e adicionar uma propriedade chamada background-size com o valor de cover Que fará com que a imagem preencha
            todo o container disponível, resolvendo nosso problema, vamos a um exemplo prático:</p>
    </div>

    <div class="imagem3">

    </div>


    <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d882.4796232161739!2d-49.82407217080271!3d-26.15722779520685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf9a1c261f5a3920b!2zMjbCsDA5JzI2LjAiUyA0OcKwNDknMjQuNyJX!5e1!3m2!1spt-BR!2sbr!4v1650374811420!5m2!1spt-BR!2sbr"
            height="300px" width="520px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <div class="rodape">
        <a href="https://www.instagram.com/_marksbarbearia/"><img class="insta" src="../images/insta.png" alt=""></a>
        <a href="https://wa.me/5547991745960"> <img class="whats" src="../images/wpp.png" alt=""></a>
        <p class="copyright">Powered by Willian &copy;</p>
    </div>









</body>

</html>